# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.bmp
.idea/
.github/
.vscode/
.DS_Store
_pycache__/
*.pyc
*.pth
weights/
*.jpg
*.png
outputs/
dataset/
*.csv